
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 22px 29px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header .brand{
  color: #FFF;
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.header .title {
  color: #FFF;
  text-align: right;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}
